@import "tailwindcss";

@layer base {
  body {
    @apply min-h-screen bg-slate-800 font-mono tracking-wider;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

